@model Gecko.Security.DTO.ModuleDTO
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>模块</title>
    <script src="~/Content/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Content/Scripts/jquery.validate.min.js"></script>
    <script src="~/Content/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/layer/layer.js"></script>
    <script type="text/javascript">

        function moduletypesuccess(data) {
            if (data == "1") {
                layer.msg("操作成功", { time: 1000 }, function () {
                    parent.modulemgrwinclose();
                })
                
            }
            else { layer.msg("操作失败：" + data); }
        }

    </script>
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="/content/assets/css/bootstrap.min.css" />
</head>
<body style="padding-bottom:70px;">
    <p>@*@Html.ValidationSummary()*@</p>
    @using (Ajax.BeginForm("ModuleInfo", "ModuleMgr", null, new AjaxOptions { HttpMethod = "post", OnSuccess = "moduletypesuccess(data);" }, new { @class = "form-horizontal", style = "overflow:hidden;" }))
    {
        <input name="Id" type="hidden" value="@Model.Id">
        @Html.HiddenFor(model => model.ModuleTypeId)
        <div class="form-group">
            <label class="col-sm-3 col-xs-3 control-label text-right" for="form-field-1"> 标示: </label>
            <div class="col-sm-9 col-xs-6">
                @Html.TextBoxFor(model => model.Tag, new { @class = "form-control" })
            </div>
            <label class="col-sm-1 col-xs-1 control-label" style="color:red;">*</label>
        </div>
        <div class="form-group">
            <label class="col-sm-3 col-xs-3 control-label text-right" for="form-field-1"> 名称: </label>
            <div class="col-sm-9 col-xs-6">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            </div>
            <label class="col-sm-1 col-xs-1 control-label" style="color:red;">*</label>
        </div>
        <div class="form-group">
            <label class="col-sm-3 col-xs-3 control-label text-right" for="form-field-1"> 排序ID: </label>
            <div class="col-sm-9 col-xs-6">
                @Html.TextBoxFor(model => model.OrderId, new { @class = "form-control" })
            </div>
            <label class="col-sm-1 col-xs-1 control-label" style="color:red;">*</label>
        </div>
            <div class="form-group">
                <label class="col-sm-3 col-xs-3 control-label text-right" for="form-field-1"> 备注: </label>
                <div class="col-sm-9 col-xs-6">
                    @Html.TextBoxFor(model => model.Remark, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 col-xs-3 control-label text-right" for="form-field-1"> 地址: </label>
                <div class="col-sm-9 col-xs-6">
                    @Html.TextBoxFor(model => model.ModuleUrl, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 col-xs-3 control-label text-right" for="form-field-1"> 禁用: </label>
                <div class="col-sm-9 col-xs-6">
                    @Html.CheckBox("Disabled", Model.Disabled)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 col-xs-3 control-label text-right" for="form-field-1"> 权限: </label>
                <div class="col-sm-9 col-xs-6">
                    <div id="divRights">
                        @foreach (string s in Model.ModuleRights)
                        {
                            var rights = s.Split(new string[] { "|" }, StringSplitOptions.RemoveEmptyEntries);
                            if (rights.Length == 4)
                            {
                                <div><input type="checkbox" value="@rights[1].ToString()" name="moduleRights" checked id="@rights[2].ToString()" />&nbsp;@rights[0].ToString()</div>
                            }
                            else
                            {
                                <div><input type="checkbox" value="@rights[1].ToString()" name="moduleRights" id="@rights[2].ToString()" />&nbsp;@rights[0].ToString()</div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="form-group" style="position:fixed;bottom:0; padding-left:53px; background-color:#ccc; width:100%;">
                <div class="col-xs-offset-3 col-xs-10">
                    <button type="submit" class="btn btn-primary">确定</button>
                </div>
            </div>

    }

</body>
</html>