@model Gecko.Security.DTO.SysCodeTypeDTO

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SysCodeTypeInfo</title>
    <link type="text/css" href="~/Content/css/info.css" rel="stylesheet" />
</head>
<body>
    <script src="~/Content/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Content/Scripts/jquery.validate.min.js"></script>
    <script src="~/Content/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">

        function success(data)
        {
            if (data == "1") {
                parent.winclose();
            }
            else { alert("error"); }
        }

    </script>
    <div class="container">
        @using (Ajax.BeginForm("SysCodeTypeInfo", "SysCodeMgr", null, new AjaxOptions { HttpMethod = "post", OnSuccess = "success(data);" }))
        {
            @Html.HiddenFor(model => model.Id)
            <table>
                <tr>
                    <td>标示:</td>
                    <td>
                        @Html.EditorFor(model => model.Tag)<span class="requiredspan">&nbsp;*</span>
                    </td>
                </tr>
                <tr>
                    <td>名称:</td>
                    <td>
                        @Html.EditorFor(model => model.Name)<span class="requiredspan">&nbsp;*</span>
                    </td>
                </tr>
                <tr>
                    <td>排序ID:</td>
                    <td>
                        @Html.EditorFor(model => model.OrderId)<span class="requiredspan">&nbsp;*</span>
                    </td>
                </tr>
                <tr>
                    <td>备注:</td>
                    <td>
                        @Html.EditorFor(model => model.Remark)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="确定" /></td>
                </tr>
            </table>
        }
    </div>
</body>
</html>
